<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table style="width:100%">
<tr>
    <th>id</th>
    <th>name</th> 
    <th>address</th>
 </tr>

<% results.forEach(function(result){ %>
	<tr>
		<td> <%= result.id %> </td>
		<td> <%= result.address %> </td>
	    <td> <%= result.name %></td> 
  	</tr>
<% }) %>

</table>

</body>
</html>