<!DOCTYPE html>
<html>
    
<head>
    <title>Card Tracker</title>
</head>
<link rel="stylesheet" href = "/stylesheets/style.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<div id = "loginForm"class="row">
    <h1 style="text-align: center">Login</h1>
    <div class = "rwd-form "style="width: 20%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
             <div class="form-group">
                <a href="/forgot">Forgot password?</a>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>

 <!DOCTYPE html>
<html>
    <head>
        <title>Card Tracker</title>
    </head>
    <link rel="stylesheet" href = "/stylesheets/style.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <body>