<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/transmittal.css">
</head>
<body>
  

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <small></small></h1>
      </div>
      <div class="col-md-2">
        <div class="dropdown create">
        </div>
      </div>
    </div>
  </div>
</header>

<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active"></li>
    </ol>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Website Overview -->
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Batch list</h3>
          </div>
          <div class="panel-body">
              <input class="form-control" type="text" placeholder="Search by batch...">
              <div class="scrollable">
                  <table class="responsive-table table">
                    <thead>
                      <tr>
                          <th>Batch</th>
                          <th>Date</th>
                          <th>View<th>
                      </tr>
                    </thead>
                    <tbody>
                      <% transactions.forEach(function(trans){%>
                          <form action="/main/view" method="post">
                         <tr>
                             <td>
                                <%= trans.batch%>
                             <input type="hidden" type = 'text' name = "hash" value ="<%= trans.hash %>">
                             </td>
                             <td><%= trans.sentDate %></td>
                             <td><input class="btn btn-warning" type="submit" value = "View"><td>
                         </tr>
                     </form>
                     <% })%>   
                    </tbody>
                  </table>
               </div> 
              
             <div class="container btn-container">
               <div class="row">
                 <div class="col-xs-6">   

                 </div>
               </div>
             </div>
          </div>
          </div>
          <!-- Latest Users -->
      </div>
  </div>
</section>

<footer id="footer">
  <p>Copyright Momoboys , &copy; 2018</p>
</footer>

<!-- Modals -->

<!-- Add Page -->
<div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <form>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Upload File</h4>
  </div>
  <div class="modal-body">
    <p>
      <h1>Please upload your excel file.</h1>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Select File</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </p>
  <div class="modal-footer">

  </div>
</form>
</div>
</div>
</div>

<script>
 CKEDITOR.replace( 'editor1' );
</script>

<% include ./partials/footer %>