<% include ./partials/header %>

<h1>REGISTER</h1>
<form action "/register" method = "post">
    <input type = "text " name = "username" placeholder = "username">
    <input type = "password " name = "password" placeholder = "password">
    <input type = "text " name = "address" placeholder = "address">
    <input type = "password " name = "publicKey" placeholder = "public key">
    <button>Sign up</button>
</form>

<% include ./partials/footer %>